.cart-header{
    text-align: left;
    width: 100%;
    border-bottom: #c5c5c5 solid 1px ;
}
.cart-header h2{
    text-align: left;
    
}
.items-list{
    padding: 1rem;    
    margin-top: 0rem;
}
.cart-header-no-border{
    width: 80%;
    
}
.total-container{
    font-weight: bolder;
    margin-top: 2rem;
    width: 100%;
}
.strong h3{
    border-top: #c5c5c5 solid 1px ;
    padding-top: 2rem;
    font-weight: bolder;
}
.cartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
    background-color: #F0F2F0;
    padding: 3rem;
    border: none;
    box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.75);      
}

.summaryContainer{
    position: sticky;
    top: 200px;
    height:fit-content;
    display: flex;    
    align-items: center;
    margin: 3rem 1rem;
    background-color: #F0F2F0;
    padding: 2rem;
    border: none;
    box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.75);
  }

  @media (max-width: 768px) {   
    .cart-view-container{
      display: flex;
      flex-wrap: wrap;    
    }
    .cartContainer{
        width: 90%;
        padding: 0.5rem;
    }
    .summaryContainer{
        margin-top: 0rem;
        width: 90%;
        padding: .5rem;
       position: relative;
       top: 0px;
    }
    .summaryContainer .card{
        height: 30%;
        
    }
    .total-container{
        margin: 0rem;
    }
    .cart-footer{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
  }
  .checkout-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
  }