.imgCartItem{
    width:auto;
    height: 100px;
    
}
*{
    text-align: center;
}

.item-container{
    background-color: white;
}

@media (max-width: 620px) {
    .item-container{
      flex-direction: column;
    }
}

h4{
    margin-bottom: 0px;
}

.dlt-btn:hover{
    cursor: pointer;
}