.imgCartItem{
    width:auto;
    height: 100px;
    
    
}
*{
    text-align: center;
}

.item-container{
    background-color: white;
}
h4{
    margin-bottom: 0px;
}

.dlt-btn:hover{
    cursor: pointer;
}